/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Moresa - Multipurpose HTML Template 
Version:	1.1
Author:	    Andrey Sokoltsov
Profile:	http://themeforest.net/user/andreysokoltsov
-------------------------------------------------------------------*/

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,700,300italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800");
@import url("font-awesome.min.css");
@import url("fontello.css");
@import url("fonts/elegant_font/style.css");

/* PLUGIN CSS */
@import url("../../assets/template/slider-pro-master/css/slider-pro.min.css");
@import url("../../assets/template/bxslider/jquery.bxslider.css");
@import url("../../assets/template/ekko-lightbox/ekko-lightbox.min.css");

/* MAIN CSS */
@import url("animate.css");
@import url("bootstrap.min.css");
@import url("hamburgers.min.css");

@import url("typography.css");
@import url("theme.css");
@import url("responsive.css");
@import url('color.css');
@import url("custom.css");
@import url("main-slider.css");


.trans{
	text-align: center;
}

.trans img{
	width:100%;
}
@media screen and (min-width:768px){
	.trans img{
		width:50%;
	}
}