/*------------------------------------------------------------------
[RESPONSIVE CSS]

 - Typography
 - Header
 - Footer
 - About

- Project:	Moresa - Multipurpose HTML Template
- Version:	1.1
- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/
/* typography */
@media screen and (max-width: 639px) {
  .b-blockquote-bg {
    padding: 65px 25px 55px;
  }
  .b-blockquote-bg .quote-userpic {
    float: none;
    margin: 0 auto 15px;
  }
}
@media screen and (max-width: 481px) {
  .b-accordion .accordion-toogle {
    margin-bottom: 10%;
  }

  .b-accordion .ui-accordion-content {
    padding: 30px 25px 32px 25px;
  }

  .b-accordion .ui-accordion-content .accordion-img {
    float: none;
    margin: 0 auto;
  }

  .b-mod-heading .line-right {
    padding-right: 0;
  }
}
@media screen and (max-width: 479px) {
  .b-form-footer .footer-form-title:after,
  .b-f-s-info .footer-form-title:after,
  .b-f-s-info .f-s-title:after {
    margin-right: 0;
  }
}
/* header */
@media screen and (max-width: 1365px) {
  .menu-container .navbar-nav {
    float: none !important;
    text-align: center;
  }
  .menu-container .navbar-nav li {
    float: none;
    display: inline-block;
  }
  .menu-container .navbar-main li a {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
  }
  .menu-container .navbar-social li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-version-2 .navbar-social {
    float: right !important;
  }
}
@media screen and (max-width: 1199px) {
  .menu-container.menu-version-2 {
    padding: 2.5% 4.5% 2.5%;
  }

  .close-menu-nav {
    right: 2.5%;
    top: 2.5%;
  }
}
@media screen and (max-width: 991px) {
  .menu-container {
    height: auto;
    top: -250px;
  }

  .menu-version-2 .menu-holder {
    padding-right: 12%;
  }

  .menu-container.menu-version-2 {
    padding: 2.5% 0 2.5%;
  }
}
@media screen and (max-width: 651px) {
  .menu-container.menu-version-2 {
    width: 100%;
  }

  .menu-version-2 .navbar-main > li {
    margin-bottom: 4%;
  }

  .menu-version-2 .menu-holder {
    margin-top: 14.5%;
  }

  .close-menu-nav {
    left: 6.5%;
  }
}
@media screen and (max-width: 767px) {
  .open-menu {
    overflow: hidden;
  }

  .menu-container {
    width: 100%;
    right: auto;
    left: 0;
    top: -100%;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .menu-container .navbar-main {
    text-align: left;
    padding: 0 15px;
  }
  .menu-container .navbar-main li {
    display: block;
  }
  .menu-container .navbar-main .dropdown-menu li {
    margin: 25px 0;
  }
  .open-menu .menu-container {
    top: 80px;
    height: 100%;
  }

  .fixed-menu .menu-container {
    width: 100%;
    left: 0;
    right: 0;
  }
  .fixed-menu.open-menu .navBtn {
    top: 10px;
  }
  .fixed-menu.open-menu .menu-container {
    top: 110px;
  }

  .open-menu .menu-container.menu-version-2 {
    top: 0;
    height: 100%;
  }

  .fixed-menu .menu-container.menu-version-2 {
    right: -100%;
    left: auto;
  }
  .fixed-menu.open-menu .menu-version-2 {
    top: 0;
    right: 0;
  }
}
/* footer */
@media screen and (max-width: 1365px) {
  .vertical-left,
  .vertical-right {
    /*display: none;*/
  }

  .copyright {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}
@media screen and (max-width: 1199px) {
  .b-form-footer .form-control {
    max-width: 365px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .b-form-footer {
    padding: 25px 15% 18px;
  }

  .b-form-footer .footer-form-title:after {
    margin-right: 0;
  }

  .b-footer-socials {
    padding-top: 65px;
  }

  .b-footer-socials .socials-title {
    display: block;
  }

  .b-footer-socials li {
    min-width: 75px;
  }
}
@media screen and (max-width: 767px) {
  .footerBlock .container-bg-additional {
    padding-top: 35px;
    height: auto;
    padding-bottom: 30px;
  }

  .b-form-footer {
    padding: 25px 5% 18px;
  }

  .b-form-footer .form-control {
    max-width: 100%;
  }

  .b-form-footer .footer-form-title:after {
    margin-right: 0;
  }

  .b-footer-bg-filter {
    top: auto;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 385px;
  }

  .b-footer-contacts {
    margin-left: 15px;
  }

  .b-footer-socials {
    display: none;
    visibility: hidden;
  }

  .footer-btm {
    display: none;
  }
}
@media screen and (max-width: 481px) {
  .b-form-footer textarea.form-control {
    margin-bottom: 65px;
  }
}
/* home */
@media screen and (max-width: 767px) {
  .b-home-about .b-cuts-img-holder {
    margin: 0;
    text-align: center;
  }

  .b-home-about .b-cuts-img-holder .img-cut {
    width: 48.5%;
    display: inline-block;
  }

  .b-home-offers .container-bg-additional {
    height: auto;
  }

  .b-home-team .b-team .row {
    display: block;
  }

  .primary-home-news .b-blog-item {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 639px) {
  .b-home-about .b-cuts-img-holder .img-cut {
    width: 100%;
    display: block;
  }

  .secondary-home-news .col-xs-4 {
    width: 100% !important;
  }
}
@media screen and (max-width: 1199px) {
  .section-home-secondary .b-f-s-info {
    height: auto;
  }

  .section-home-secondary .b-member-info .b-member-progress .progress .bar-holder {
    width: 55%;
  }
}
@media screen and (max-width: 991px) {
  .section-home-secondary .b-home-about .img-brd-mod {
    margin-left: 0;
  }

  .section-home-secondary .b-member-info .b-member-progress .progress .bar-holder {
    width: 45%;
  }
}
@media screen and (max-width: 767px) {
  .section-home-secondary .b-home-about .img-brd-mod {
    margin-bottom: 35px;
  }

  .section-home-secondary .b-services-holder .col-xs-6 {
    width: 50% !important;
  }

  .section-home-secondary .b-f-s-info .f-s-text {
    margin: 0;
  }

  .section-home-secondary .b-home-offers .container-bg-additional {
    height: auto;
  }

  .section-home-secondary .b-home-offers .b-services-bg-filter {
    height: 45%;
  }

  .section-home-secondary .b-to-all-works {
    left: 0;
  }

  .section-home-secondary .b-home-team .b-member-info .b-mod-heading {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 479px) {
  .b-home-video-block .right-side .content {
    height: auto;
    margin-top: 0;
    top: 5%;
    padding: 0 5%;
  }
}
@media screen and (max-width: 479px) {
  .section-home-secondary .b-services-holder .col-xs-6 {
    width: 100% !important;
  }
}
/* breadcrumbs */
@media screen and (max-width: 1199px) {
  .breadcrumbs-header .half-filter > li {
    padding: 145px 15px 0;
  }
}
@media screen and (max-width: 767px) {
  .breadcrumbs-header h1 {
    text-align: justify;
    font-size: 3.8em;
  }

  .breadcrumbs {
    float: none !important;
  }
}
/* all works */
@media screen and (max-width: 1199px) {
  .works-item {
    display: block;
    width: 100%;
  }
  
  .works-item a {
    display: inline-block;
  }
  .photography {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .imageWork1{
    width: auto;
    height: auto;
  }
  .imageWork2{
    width: 262px;
    height: 350px;
  }
  .imageWork3{
    width: auto;
    height: auto;
  }
}
/* work details */
@media screen and (max-width: 767px) {
  .work-left-side .content,
  .work-right-side .content {
    margin-left: 0;
  }

  .img-brd .brd {
    left: 10px;
  }

  .work-right-side .content {
    text-align: center;
  }

  .work-img-small img {
    margin: 0 auto;
  }
}
/* blog */
@media screen and (min-width: 1200px) and (max-width: 1444px) {
  .b-blog-data {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    left: -17%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .b-blog-data {
    transform: none;
    top: auto;
    bottom: -45px;
    margin-top: 0;
    left: -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .b-blog-data {
    transform: none;
    top: auto;
    bottom: 20px;
    margin-top: 0;
    left: -15px;
  }
}

@media screen and (min-width: 1444px) {
  .b-blog-post .b-blog-data {
    top: 135px;
  }
}
@media screen and (max-width: 1199px) {
  .b-blog-post .b-blog-data {
    top: -115px;
    left: -5%;
  }
}
@media screen and (max-width: 991px) {
  .b-blog-post .b-blog-data {
    left: -25%;
  }
}

@media screen and (max-width: 1199px) {
  .section-blog-post {
    padding-top: 155px;
  }

  .b-blog-post {
    padding-left: 0;
  }

  .post-mid-content-1 .img-brd {
    margin-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .post-mid-content-1 .pull-right {
    width: 60%;
  }

  .post-mid-content-2 .content-side {
    width: 40%;
  }

  .b-post-tags .post-share {
    margin-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .b-post-tags .pull-left,
  .b-post-tags .pull-right {
    float: none !important;
    margin-bottom: -10px;
  }
}
@media screen and (max-width: 767px) {
  .section-blog-post {
    padding-top: 115px;
  }

  .b-blog-item {
    margin-bottom: 55px;
  }

  .section-blog .b-pagination-mod-1 {
    margin-top: 0;
  }

  .section-blog {
    padding-bottom: 65px;
  }
}
@media screen and (max-width: 554px) {
  .post-mid-content-1 .content-side {
    width: 100%;
  }

  .post-mid-content-1 .pull-right {
    float: none !important;
    width: 100%;
  }

  .post-mid-content-2 .pull-left {
    float: none !important;
    width: 100%;
  }

  .post-mid-content-2 .img-brd {
    margin-right: 0;
  }
}
@media screen and (max-width: 479px) {
  .comment-userpic {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .b-sub-comment {
    padding-left: 5.5%;
  }
}
/* services */
@media screen and (max-width: 1365px) {
  .featured-services-right {
    margin-left: 0;
  }

  .brand-item {
    margin: 0 3.5%;
  }
}
@media screen and (max-width: 991px) {
  .b-featured-services {
    padding-top: 45px;
  }

  .b-f-s-info {
    height: auto;
    margin-right: 0;
  }

  .b-brands-left,
  .b-brands-right {
    padding: 45px 0;
  }

  .brand-item {
    display: block;
    margin-bottom: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .section-services .container-bg-additional {
    height: auto;
  }

  .b-services-bg-filter {
    height: 545px;
    width: 100%;
  }
}
@media screen and (max-width: 639px) {
  .b-services-item .services-text .services-title {
    min-height: 72px;
  }
}
@media screen and (max-width: 639px) {
  .b-services-holder .col-xs-6 {
    width: 100% !important;
  }
}
@media screen and (max-width: 481px) {
  .b-home-services .b-services-holder > [class*="col-"] {
    height: auto;
  }
  .b-home-services .b-services-item {
    position: static;
    min-height: auto;
    margin-top: 0;
  }
  .b-services-item .services-text .services-title {
    min-height: auto;
    padding: 15px 0 5px;
  }
  .featured-services-center .row > [class*="col-"] {
    width: 100% !important;
  }
}
@media screen and (max-width: 479px) {
  .b-featured-services {
    padding-top: 15px;
  }

  .b-services-bg-filter {
    height: 750px;
  }

  .featured-services-right {
    margin-top: 75px;
  }

  .b-brands-holder .col-xs-6 {
    width: 100% !important;
  }
}
@media screen and (max-width: 1199px) {
  .b-tabs {
    position: relative;
    overflow: hidden;
  }

  .b-tabs .b-tabs-controls {
    left: -19%;
    top: 180px;
  }
}
@media screen and (max-width: 991px) {
  .b-tabs .b-tabs-controls {
    left: -25%;
    top: 150px;
  }

  .tab-custom .tab-caption {
    padding-top: 0;
  }

  .tab-custom .b-tab-additional {
    margin-top: 25px;
  }
}
@media screen and (max-width: 767px) {
  .b-tabs .b-tabs-controls {
    position: static;
    transform: none;
    padding: 0 15px;
    margin-bottom: 15px;
  }

  .tab-custom .tab-img {
    margin-bottom: 25px;
  }

  .tab-custom .tab-img .bx-wrapper .bx-viewport {
    left: 0;
  }

  .tab-custom .tab-caption {
    margin-left: 0;
    max-width: 100%;
  }

  .tab-custom .b-tab-additional .bx-wrapper .bx-viewport {
    left: 0;
  }
}
@media screen and (max-width: 479px) {
  .b-tabs .b-tabs-controls {
    padding: 0 5px;
    text-align: center;
  }
  .b-tabs .nav-tabs > li {
    float: none;
    display: inline-block;
  }
  .b-tabs .nav-tabs > li > a {
    padding: 0 0;
  }
  .b-tabs .nav-tabs > li {
    margin-bottom: 10px;
  }
  .tab-custom .clearfix {
    margin: 0 -15px;
  }
}
/* about */
@media screen and (max-width: 991px) {
  .section-about .b-services-bg-filter {
    height: 100%;
  }

  .section-about .featured-services-right {
    margin-left: 0;
  }

  .b-testimonials .b-services-item {
margin: 20px 0 0;
    padding: 0 15px;
  }
    
    .b-testimonials{
        padding-bottom: 30px;
    }

  .b-testimonials .left-side, .b-testimonials .right-side {
    padding: 6.5% 0 0;
  }
}
@media screen and (max-width: 767px) {
  .b-team .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .b-member-list .member-img {
    display: inline-block;
  }

  .bx-outside-controls {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .section-about .b-team {
    padding: 25px 0;
  }

  .b-testimonials .b-services-item .services-icon {
    float: none;
    margin: 0 0 15px;
  }
  .b-testimonials .b-services-item .services-text {
    padding: 0 5px;
  }

  .b-testimonials .left-side, .b-testimonials .right-side {
    height: 345px;
  }
  .section-about .b-featured-services {
    height: auto;
  }
  .section-about .b-services-bg-filter {
    height: 52.5%;
  }
}
@media screen and (max-width: 479px) {
  .b-about-facts .col-xs-6 {
    width: 100%;
  }

  .b-testimonials .left-side {
    width: 100% !important;
    height: auto;
    padding-top: 10px;
  }
  .b-testimonials .right-side {
    width: 100% !important;
  }

  .b-testimonials .b-services-item {
    float: none;
    max-width: 100%;
  }

  .b-member-info .b-member-progress .progress .bar-holder {
    width: 55%;
  }
}
