/*------------------------------------------------------------------
[Table of contents]

 - Global
 - Tooltips
 - List styles
 - Dropcap styles
 - Alerts styles

- Project:	Moresa - Multipurpose HTML Template
- Version:	1.1
- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/

/* Global */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #222222;
}

.font-primary {
  font-family: 'Open Sans', sans-serif;
}

label, .font-secondary, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .b-alerts-regular .alert, .b-alerts-dismissible .alert-dismissible .alert-dismissible-title {
  font-family: 'Raleway', sans-serif !important;
}

.font-additional, .b-blockquote-center .quote-text, .b-blockquote-left-border .quote-text, .b-blockquote-bg .quote-text {
  font-family: 'Merriweather', serif;
}

.b-hr, .b-hr-2, .b-hr-3, .b-hr-4, .b-hr-5, .b-hr-6, .b-hr-7, .b-hr-8 {
  float: left;
  margin: 82px 0;
  width: 100%;
}

.b-hr hr, .b-hr-2 hr, .b-hr-3 hr, .b-hr-4 hr, .b-hr-5 hr, .b-hr-6 hr, .b-hr-7 hr, .b-hr-8 hr {
  margin-bottom: 3px;
  margin-top: 0;
}

.b-hr-2 {
  margin: 75px 0 85px;
}

.b-hr-3 {
  margin: 57px 0 87px;
}

.b-hr-4 {
  margin: 42px 0 90px;
}

.b-hr-5 {
  margin: 28px 0 86px;
}

.b-hr-6 {
  margin: 122px 0 88px;
}

.b-hr-7 {
  margin: 20px 0 88px;
}

.b-hr-8 {
  margin: 80px 0 88px;
}

.heading-light {
  color: #888;
  font-size: 29px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 10px;
  letter-spacing: 1px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0;
  font-weight: 300;
}

.h1, h1 {
  font-size: 62px;
  padding: 10px 0 15px;
}

.h2, h2 {
  font-size: 50px;
  padding: 10px 0 22px;
}

.h3, h3 {
  font-size: 38px;
  padding: 10px 0 26px;
}

.h4, h4 {
  font-size: 25px;
  padding: 20px 0 34px;
}

.h5, h5 {
  font-size: 21px;
  padding: 10px 0 37px;
}

.h6, h6 {
  font-size: 17px;
  padding: 10px 0 20px;
}

.heading-line {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  padding: 0 24px 0 0;
}

.b-mod-heading .first-heading {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: .2px;
  color: #222222;
  margin: 0;
  line-height: 1.1;
}
.b-mod-heading .line-right {
  font-size: 250%;
  padding-top: 0;
  margin-bottom: 20px;
}
.b-mod-heading .second-heading {
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  line-height: 2;
  letter-spacing: .5px;
  font-family: Merriweather;
}

.section-typography .heading-line {
  padding: 67px 24px 0 0;
}

.heading-line.line-top:before {
  content: "";
  position: absolute;
  left: 0;
  top: 53px;
  width: 15px;
  height: 1px;
}

.heading-line.line-right:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 7px;
  width: 15px;
  height: 1px;
}

.heading-line.another-heading {
  font-size: 48px;
  padding-top: 10px;
  text-transform: capitalize;
}
@media screen and (max-width: 991px) {
  .heading-line.another-heading {
    padding-top: 65px;
  }
}

.heading-line > span {
  color: #222;
  display: block;
  font-size: 36px;
  font-weight: 400;
  padding: 0;
  text-transform: initial;
}

p {
  font-size: 13px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.b-text p {
  line-height: 2;
  /*padding: 25px 0;*/
}

.b-headings-holder {
  margin-bottom: 12px;
}

/* Highlights styles */
.b-highlights-holder {
  margin-bottom: 50px;
}

.b-highlights p {
  margin: 18px 0 20px;
}
.b-highlights p span {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 4px;
  margin: 0 2px;
}
.b-highlights p span.no-bg {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
}

/*Tooltips styles*/
.b-tooltips-holder {
  margin-bottom: 20px;
}
.b-tooltips-holder .heading-light {
  margin-bottom: 20px;
}

.color-tooltip,
.black-tooltip {
  font-weight: 600;
}
.color-tooltip:hover,
.black-tooltip:hover {
  cursor: pointer;
}

.color-tooltip + .tooltip > .tooltip-inner {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 11px;
  border-radius: 2px !important;
}

.black-tooltip {
  color: #222;
}

.black-tooltip + .tooltip > .tooltip-inner {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #222222;
  padding: 7px 11px;
  border-radius: 2px !important;
}

.black-tooltip + .tooltip > .tooltip-arrow {
  border-top-color: #222;
}

/*list styles*/
.b-list-styles {
  margin-bottom: 25px;
}
.b-list-styles .row {
  margin-bottom: 35px;
}
.b-list-styles .heading-light {
  margin-bottom: 33px;
}

.b-list ul li {
  padding-left: 38px;
  position: relative;
  margin-bottom: 11px;
}

.b-list.check-circle-o li:before {
  font-family: FontAwesome;
  content: "\f05d";
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 2px;
  font-size: 16px;
}

.b-list.l-caret li:before {
  font-family: FontAwesome;
  content: "\f0da";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 8px;
  font-size: 14px;
  color: #222222;
}

.b-list.l-chevron li:before {
  font-family: FontAwesome;
  content: "\f054";
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 7px;
  font-size: 13px;
  color: #222222;
}

.b-list.l-checked-square .l-check-square:before {
  font-family: FontAwesome;
  content: "\f14a";
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 4px;
  font-size: 18px;
}
.b-list.l-checked-square .l-not-check-square:before {
  font-family: FontAwesome;
  content: "\f0c8";
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 4px;
  font-size: 18px;
  z-index: 1;
}
.b-list.l-checked-square .l-not-check-square:after {
  font-family: FontAwesome;
  content: "\f00d";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 7px;
  font-size: 11px;
  color: #fff;
  z-index: 2;
}

.b-list.l-plane li:before {
  font-family: FontAwesome;
  content: "\f1d8";
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -1px;
  font-size: 15px;
}

.b-list.l-checked .l-check:before {
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 3px;
  font-size: 14px;
  color: #222222;
}
.b-list.l-checked .l-not-check:before {
  font-family: FontAwesome;
  content: "\f00d";
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 5px;
  font-size: 14px;
}

.b-list.l-numered li {
  padding-left: 0;
}
.b-list.l-numered span {
  font-family: 'Open Sans', sans-serif;
  padding-left: 2px;
  padding-right: 19px;
}

.b-list.long-arrow-right li:before {
  font-family: FontAwesome;
  content: "\f178";
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 1px;
  font-size: 18px;
  color: #222222;
}

.b-list.l-circle li:before {
  font-family: FontAwesome;
  content: "\f111";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 7px;
  font-size: 10px;
  color: #222222;
}

/*Dropcap styles*/
.b-dropcaps .heading-light {
  margin-bottom: 28px;
}
.b-dropcaps .row {
  margin-bottom: 45px;
}
.b-dropcaps .row:last-child {
  margin-bottom: 0;
}

.b-round-dropcap .b-text p, .b-round-dropcap-mod .b-text p {
  padding: 0;
}
.b-round-dropcap .round-dropcap, .b-round-dropcap-mod .round-dropcap {
  float: left;
  font-weight: bold;
  font-size: 40px;
  border-radius: 50% !important;
  color: #fff;
  line-height: 59px;
  margin-right: 15px;
  margin-top: 5px;
  width: 60px;
  height: 60px;
  text-align: center;
}

.b-square-dropcap .b-text p, .b-square-dropcap-mod .b-text p {
  padding: 0;
}
.b-square-dropcap .square-dropcap, .b-square-dropcap-mod .square-dropcap {
  float: left;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  padding: 4px 12px;
  line-height: 31px;
  margin-right: 12px;
  margin-top: 10px;
}

.b-round-dropcap-mod .round-dropcap {
  background: transparent;
  border: 2px solid #666666;
  color: #666666;
  line-height: 54px;
}

.b-square-dropcap-mod .square-dropcap {
  background: transparent;
  border: 2px solid;
  line-height: 29px;
}

/*Blockquote Style*/
.b-blockquotes .heading-light {
  margin-bottom: 30px;
}

.b-blockquote-holder {
  margin-bottom: 52px;
}

.b-blockquote-center {
  position: relative;
  padding: 3px 0;
  text-align: center;
}
.b-blockquote-center .quote-text {
  position: relative;
  font-size: 18px;
  color: #222;
  line-height: 2;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 35px;
}
.b-blockquote-center .quote-author {
  font-size: 12px;
  display: block;
  letter-spacing: .1px;
  line-height: 1.2;
  text-transform: uppercase;
}
.b-blockquote-center .quote-author .ef {
  padding-right: 5px;
  font-size: 18px;
}
.b-blockquote-center .quote-author .author-name {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.b-blockquote-center .quote-author .author-role {
  font-size: 12px;
  color: #222;
}

.b-blockquote-left-border {
  position: relative;
  padding: 4px 0;
}
.b-blockquote-left-border:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 4px;
  display: inline-block;
  height: 92%;
  width: 6px;
}
.b-blockquote-left-border .quote-text {
  position: relative;
  font-size: 20px;
  color: #222;
  margin-left: 35px;
  line-height: 2;
  font-style: italic;
  margin-bottom: 20px;
}
.b-blockquote-left-border .quote-author {
  font-size: 12px;
  display: block;
  letter-spacing: .1px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-left: 38px;
}
.b-blockquote-left-border .quote-author .ef {
  padding-right: 5px;
  font-size: 18px;
}
.b-blockquote-left-border .quote-author .author-name {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.b-blockquote-left-border .quote-author .author-role {
  font-size: 12px;
  color: #222;
}

.b-blockquote-bg {
  padding: 65px 68px 55px;
}
.b-blockquote-bg .quote-userpic {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  margin-right: 35px;
  margin-left: 10px;
  margin-top: 10px;
}
.b-blockquote-bg .quote-content {
  position: relative;
  overflow: hidden;
}
.b-blockquote-bg .quote-text {
  position: relative;
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 18px;
}
.b-blockquote-bg .quote-author .ef {
  padding-right: 5px;
  font-size: 18px;
  color: #eee;
}
.b-blockquote-bg .quote-author .author-name {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.b-buttons-holder .heading-light {
  margin-bottom: 17px;
}
.b-buttons-holder button {
  margin-right: 25px;
  margin-bottom: 40px;
}

.b-pagination-holder .heading-light {
  margin-bottom: 52px;
}
.b-pagination-holder .b-pagination-mod-1 {
  margin-bottom: 80px;
}
.b-pagination-holder .b-pagination-mod-2 {
  margin-bottom: 25px;
}

.b-form-elements-holder .heading-light {
  margin-bottom: 20px;
}

.section-typography .b-check-radio-holder {
  margin: 5px 0 0 54px;
}
@media screen and (max-width: 767px) {
  .section-typography .b-check-radio-holder {
    margin-left: 0;
  }
}
.section-typography .b-form {
  margin-bottom: 75px;
}

/*Alerts styles*/
.b-alerts-holder .heading-light {
  margin-bottom: 25px;
}
.b-alerts-holder > .row {
  margin-bottom: 48px;
}

.b-alerts-regular .alert {
  font-size: 12px;
  padding: 11px 15px 11px 0;
  margin-bottom: 15px;
  border: 1px solid transparent;
  position: relative;
  border-radius: 0 !important;
}
.b-alerts-regular .alert .ef {
  position: relative;
  padding: 0 20px;
  font-size: 16px;
  line-height: 19px;
  float: left;
  margin-top: -2px;
  color: #fff;
}
.b-alerts-regular .alert p {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.b-alerts-regular .alert-normal {
  background: #f9f9fa;
  border-color: #eeeeee;
}
.b-alerts-regular .alert-normal p, .b-alerts-regular .alert-normal .ef {
  color: #444444;
}
.b-alerts-regular .alert-normal-2 {
  background: #5b2db5;
}
.b-alerts-regular .alert-normal-2 p, .b-alerts-regular .alert-normal-2 .ef {
  color: #fff;
}
.b-alerts-regular .alert-warning {
  background: #d54b35;
}
.b-alerts-regular .alert-info {
  background: #d5c035;
}
.b-alerts-regular .alert-success {
  background: #74bf30;
}
.b-alerts-regular .alert-useful {
  background: #2d83b4;
}

.b-alerts-dismissible .alert-dismissible {
  border: 1px solid transparent;
  border-radius: 0 !important;
  padding: 30px 45px 28px 120px;
  position: relative;
}
.b-alerts-dismissible .alert-dismissible .alert-dismissible-title {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.b-alerts-dismissible .alert-dismissible .alert-dismissible-description {
  font-size: 13px;
  font-weight: 300;
  color: #444444;
  line-height: 29px;
}
.b-alerts-dismissible .alert-dismissible .close {
  opacity: 1;
  text-shadow: none;
  top: 8px;
  font-size: 30px;
  right: -26px;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.b-alerts-dismissible .alert-dismissible .close:hover {
  opacity: .7;
}
.b-alerts-dismissible .alert-dismissible.normal-dismissible {
  border: 1px solid #eeeeee;
  background: #f9f9fa;
}
.b-alerts-dismissible .alert-dismissible.normal-dismissible .close {
  color: #222222;
}
.b-alerts-dismissible .alert-dismissible.normal-dismissible:before {
  font-family: FontAwesome;
  content: "\f0f3";
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 52px;
  font-size: 28px;
  color: #222222;
}
.b-alerts-dismissible .alert-dismissible.error-dismissible {
  background: #f2cfc8;
}
.b-alerts-dismissible .alert-dismissible.error-dismissible .close {
  color: #d54b35;
}
.b-alerts-dismissible .alert-dismissible.error-dismissible:before {
  font-family: FontAwesome;
  content: "\f00d";
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 52px;
  font-size: 28px;
  color: #d54b35;
}
.b-alerts-dismissible .alert-dismissible.success-dismissible {
  background: #d4ecc3;
}
.b-alerts-dismissible .alert-dismissible.success-dismissible .close {
  color: #74bf30;
}
.b-alerts-dismissible .alert-dismissible.success-dismissible:before {
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 52px;
  font-size: 28px;
  color: #74bf30;
}
.b-alerts-dismissible .alert-dismissible.warning-dismissible {
  background: #f2edc8;
}
.b-alerts-dismissible .alert-dismissible.warning-dismissible .close {
  color: #d5c035;
}
.b-alerts-dismissible .alert-dismissible.warning-dismissible:before {
  font-family: FontAwesome;
  content: "\f12a";
  display: inline-block;
  position: absolute;
  top: 34px;
  left: 60px;
  font-size: 29px;
  color: #d5c035;
}

.b-progress-bars-holder .heading-light {
  margin-bottom: 22px;
}

.b-tables-holder .heading-light {
  margin-bottom: 30px;
}

.b-plans-holder .heading-light {
  margin-bottom: 32px;
}

/* pricing plans */
.b-plan-item, .b-plan-item-odd {
  background: #f6f6f8;
  padding: 55px 20%;
  margin-bottom: 25px;
}
.b-plan-item .plan-title, .b-plan-item-odd .plan-title {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-top: 12px;
  padding-bottom: 0;
  margin-top: 5px;
}
.b-plan-item .plan-title:before, .b-plan-item-odd .plan-title:before {
  content: '';
  display: block;
  width: 15px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
}
.b-plan-item .plan-price, .b-plan-item-odd .plan-price {
  font-size: 40px;
  font-weight: bold;
  margin: -10px 15px 0 0;
}
.b-plan-item .plan-description, .b-plan-item-odd .plan-description {
  margin-top: 45px;
}
.b-plan-item .plan-description ul, .b-plan-item-odd .plan-description ul {
  margin-bottom: 60px;
}
.b-plan-item .plan-description ul li, .b-plan-item-odd .plan-description ul li {
  font-size: 13px;
  font-weight: 300;
  color: #666666;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.b-plan-item-odd {
  background: #f9f9fa;
}

/* accordions */
.b-accordion-holder .heading-light {
  margin-bottom: 15px;
}
