/*------------------------------------------------------------------
[Table of contents]

- Main slider
- Navigation arrows

- Project:	Moresa - Multipurpose HTML Template
- Version:	1.1
- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/

/* Main slider */
.main-slider {
	position: relative;
	margin-bottom: 65px;
	/*slider pagination buttons*/
	/*slides all*/
}
.main-slider .sp-buttons {
	display: block;
	position: absolute;
	width: 30px;
	padding: 0;
	right: 1.5%;
	top: 40%;
	z-index: 998;
}
.main-slider .sp-buttons .sp-button {
	display: block;
	border: 2px solid transparent;
	width: 6px;
	height: 6px;
	background: #fff;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: pointer;
	margin: 0 auto 10px;
	-moz-transition: border-color 0.3s ease-in-out;
	-o-transition: border-color 0.3s ease-in-out;
	-webkit-transition: border-color 0.3s ease-in-out;
	-ms-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}
.main-slider .sp-buttons .sp-selected-button {
	border: 2px solid #fff;
	background-color: transparent;
	width: 12px;
	height: 12px;
}
@media screen and (max-width: 767px) {
	.main-slider .sp-buttons {
	display: block;
}
}
@media screen and (max-width: 481px) {
	.main-slider .sp-buttons {
		right: 0.2%;
	}
}
.main-slider .slider-filter-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.main-slider .cutBox {
	width: 50%;
}
@media screen and (max-width: 991px) {
	.main-slider .cutBox {
	width: 35%;
}
}
.main-slider .custom-filter {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	top: 0;
}
@media screen and (max-width: 991px) {
	.main-slider .custom-filter {
	width: 100%;
}
.main-slider .custom-filter .slider-icon {
	display: none;
}
}
.main-slider .custom-filter .slider-icon {
	position: absolute;
	bottom: 50px;
	left: 50px;
}
.main-slider .container {
	height: 100%;
	left: 0;
	margin: auto;
	max-width: 1170px;
	padding: 0 15px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.main-slider .container-mod {
	position: relative;
	width: 60%;
	height: 412px;
	border: 6px solid #fff;
}
@media screen and (max-width: 991px) {
	.main-slider .container-mod {
	width: 95%;
}
}
.main-slider .container-mod-right {
	position: absolute;
	right: 12%;
	top: 50%;
	margin-top: -90px;
}
.main-slider .container-mod-right .second-heading {
	margin-bottom: 45px;
}
@media screen and (max-width: 641px) {
	.main-slider .container-mod-right {
	width: 100%;
	right: 0;
	top: 35%;
	margin-top: -90px;
	text-align: center;
}
}
.main-slider .b-home-big-text .rotate-block {
	background: rgba(255, 255, 255, 0.95);
	text-align: center;
	padding: 5% 7.5%;
	display: inline-block;
	transform: rotate(-90deg);
}
.main-slider .b-home-big-text .rotate-block p {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
}
.main-slider .b-home-big-text .first-heading {
	font-size: 40px;
	letter-spacing: 1px;
	color: #feffff;
	padding: 0;
}
.main-slider .b-home-big-text .second-heading {
	font-size: 60px;
	color: #feffff;
	font-weight: bold;
	padding: 0;
}
.main-slider .b-home-big-text .b-text {
	margin-top: 15px;
}
.main-slider .b-home-big-text .b-text p {
	font-size: 14px;
	color: #ffffff;
}
.main-slider .b-home-big-text .btn-clear {
	position: relative;
	color: #f5f5f5;
	-moz-transition: margin 0.3s linear !important;
	-o-transition: margin 0.3s linear !important;
	-webkit-transition: margin 0.3s linear !important;
	-ms-transition: margin 0.3s linear !important;
	transition: margin 0.3s linear !important;
}
.main-slider .b-home-big-text .btn-clear i {
	color: #f5f5f5;
}
.main-slider .slide-tex-1,
.main-slider .slide-tex-2,
.main-slider .slide-tex-3,
.main-slider .slide-tex-4 {
	width: 100%;
}
.main-slider .slide-tex-1 .slide-text,
.main-slider .slide-tex-2 .slide-text,
.main-slider .slide-tex-3 .slide-text,
.main-slider .slide-tex-4 .slide-text {
	width: 100%;
}
.main-slider .slide-button {
	width: 100%;
}
.main-slider .slide-1 .sp-layer {
	padding: 0 25px;
}
.main-slider .slide-2 .sp-layer {
	padding: 0 12px;
}
@media screen and (max-width: 1199px) {
	.main-slider .slide-2 .layer-2-1 {
	left: 22% !important;
}
}
@media screen and (max-width: 991px) {
	.main-slider .slide-1 .layer-1-1 {
	left: 35% !important;
}
.main-slider .slide-1 .layer-1-2 {
	left: 35% !important;
}
.main-slider .slide-1 .layer-1-3 {
	left: 35% !important;
}
.main-slider .slide-2 .layer-2-1 {
	left: 0 !important;
}
}
@media screen and (max-width: 767px) {
	.main-slider .slide-1 .layer-1-1 {
	left: 5% !important;
}
.main-slider .slide-1 .layer-1-2 {
	left: 5% !important;
	top: 30% !important;
}
}
@media screen and (max-width: 479px) {
	.main-slider .slide-1 .layer-1-3 {
	left: 5% !important;
	top: 72% !important;
}
}
.main-slider .counter {
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 18px;
	font-weight: 300;
	color: #666666;
	position: absolute;
	top: 50%;
	right: 134px;
	margin-top: -15px;
	z-index: 999;
}
@media screen and (max-width: 767px) {
	.main-slider .counter {
	display: none;
}
}

/* main slider navigation arrows */
.b-pro-contr {
	position: absolute;
	top: 50%;
	margin-top: -32px;
	z-index: 99;
	right: 0;
}
.b-pro-contr .contr-divider {
	width: 100px;
	height: 1px;
	background: #dddddd;
	margin: 1px 0px 7px;
}
.b-pro-contr .pro-next,
.b-pro-contr .pro-prev {
	display: inline-block;
	text-align: left;
	cursor: pointer;
	width: 24px;
	height: 24px;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.b-pro-contr .pro-next:hover,
.b-pro-contr .pro-prev:hover {
	opacity: .7;
}
@media screen and (max-width: 767px) {
	.b-pro-contr {
	display: none;
}
}
