/*------------------------------------------------------------------
[Table of contents]

 - Global
 - Vertical headings
 - BxSlider
 - Sliders navigation
 - Loader
 - Paginations
 - Accordion
 - Header
 - Footer
 - Work details

- Project:	Moresa - Multipurpose HTML Template
- Version:	1.1
- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/
.b-accordion .ui-accordion-header {
  *zoom: 1;
}
.b-accordion .ui-accordion-header:before, .b-accordion .ui-accordion-header:after {
  content: " ";
  display: table;
}
.b-accordion .ui-accordion-header:after {
  clear: both;
}

/* Global */
html, body {
  height: 100%;
}

a:focus {
  outline: none !important;
  text-decoration: none;
}

button:active, button:focus {
  outline: none !important;
}

:focus {
  outline: none !important;
}

.pageWrap {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

.page-container {
  display: table-row;
  height: 100%;
}

.relative {
  position: relative;
}

.container-bg-additional {
  background-color: #222;
}

.color-1 {
  color: #fff;
}

.color-2 {
  color: rgba(255, 255, 255, 0.5);
}

.color-main {
  color: #222222;
}

.color-add {
  color: #cccccc;
}

.color-add-2 {
  color: #f6f6f6;
}

.color-add-3 {
  color: #494949;
}

.color-add-4 {
  color: #919191;
}

.color-white {
  color: #fff;
}

.paralax {
  background-attachment: fixed !important;
  background-position: 50% 100% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vertical-container-top, .vertical-container-top-mod,
.vertical-container-top-btn {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 180px;
}

.vertical-container-top, .vertical-container-top-mod {
  top: 350px;
}

.vertical-container-top-btn {
  top: 130px;
}

.vertical-left {
  left: 0;
}
@media screen and (max-width: 1555px) {
  .vertical-left {
    left: -4.5%;
  }
}
@media screen and (max-width: 1425px) {
  .vertical-left {
    left: -7%;
  }
}

.vertical-right {
  right: 0;
}
@media screen and (max-width: 1555px) {
  .vertical-right {
    right: -4.5%;
  }
}
@media screen and (max-width: 1425px) {
  .vertical-right {
    right: -7%;
  }
}

.vertical-text-main {
  bottom: 22px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 3px;
  position: absolute;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  white-space: nowrap;
  width: 50px;
}

.vertical-text-additional {
  font-size: 50px;
  position: absolute;
  white-space: nowrap;
  width: 50px;
}

.vertical-number {
  font-size: 17px;
  font-weight: 400;
  padding: 0 12px 4px 0;
}

.vertical-left .vertical-text-main {
  right: 47px;
}

.vertical-left .vertical-text-additional {
  right: -2px;
}

.vertical-right .vertical-text-main {
  left: 47px;
}

.vertical-right .vertical-text-additional {
  left: -2px;
}

.vertical-container-top .vertical-text-additional, .vertical-container-top-mod .vertical-text-additional {
  bottom: 32px;
  font-weight: 300;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.vertical-container-top-btn .vertical-text-additional {
  bottom: -70px;
  font-weight: 700;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.vertical-container-top .vertical-number, .vertical-container-top-mod .vertical-number {
  padding: 0 12px 4px 0;
}

.vertical-container-top-btn .vertical-number {
  padding: 0 0 4px 12px;
}

.vertical-container-top-mod {
  top: 75px;
}
.vertical-container-top-mod .vertical-text-additional {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight: bold;
  bottom: -95px;
}

/*vertical headings*/
.footer-side-title {
  top: 335px;
}

.home-about-side-title, .home-works-side-title, .home-offers-side-title, .home-team-side-title, .home-news-side-title, .section-home-secondary .home-works-side-title, .section-home-secondary .home-offers-side-title, .section-home-secondary .home-team-side-title, .section-home-secondary .home-news-side-title {
  top: 188px;
  border-color: #dddddd !important;
}

.home-offers-side-title {
  top: 310px;
}

.home-team-side-title {
  top: 332px;
}

.home-news-side-title {
  top: 150px;
}

/*vertical headings for secondary homepage*/
.section-home-secondary .footer-side-title {
  top: 335px;
}
.section-home-secondary .home-about-side-title, .section-home-secondary .home-works-side-title, .section-home-secondary .home-offers-side-title, .section-home-secondary .home-team-side-title, .section-home-secondary .home-news-side-title {
  top: 75px;
  border-color: #dddddd !important;
}
.section-home-secondary .home-offers-side-title {
  top: 196px;
}
.section-home-secondary .home-team-side-title {
  top: 255px;
}

.half-container {
  float: left;
  width: 50%;
}

.transition {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.breadcrumbs-header h1 {
  width: 100%;
}

.breadcrumbs-header .half-filter > li {
  padding: 210px 71px 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs > li {
  float: left;
  list-style-type: none;
}

.breadcrumbs > li a {
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.breadcrumbs > li span {
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.breadcrumbs .separate {
  padding: 0 8px;
}

.half-filter {
  height: 400px;
  margin: 0;
  padding: 0;
}

.half-filter > li {
  float: left;
  height: 100%;
  list-style-type: none;
  width: 50%;
}

.dark-filter {
  background-color: rgba(17, 17, 17, 0.4);
}

.custom-filter {
  background-color: rgba(45, 131, 180, 0.9);
}

.cutBox {
  background-color: #fff;
  position: absolute;
  left: 0;
  height: 20px;
  width: 100%;
}

.cut-bottom {
  bottom: 0;
}

/* bx slider */
.bx-wrapper .bx-viewport {
  left: 0;
  box-shadow: none;
  border: none;
  background: transparent;
}

.bx-outside-controls {
  padding-top: 40px;
}
.bx-outside-controls p {
  text-align: center;
}
.bx-outside-controls span {
  display: inline-block;
  margin: 0 15px;
  border-bottom: 2px solid;
}
.bx-outside-controls span a {
  display: block;
  padding: 0 7px 15px;
}
.bx-outside-controls span i {
  color: #cccccc;
  -webkit-transition: color 300ms ease-in-out 0s;
  -moz-transition: color 300ms ease-in-out 0s;
  -o-transition: color 300ms ease-in-out 0s;
  transition: color 300ms ease-in-out 0s;
}
.bx-outside-controls span:hover i {
  color: #666666;
}

.featured-services-right .bx-wrapper .bx-pager,
.featured-services-right .bx-wrapper .bx-controls-auto,
.b-testimonials .bx-wrapper .bx-pager,
.b-testimonials .bx-wrapper .bx-controls-auto {
  bottom: auto;
  right: -25%;
  padding: 0;
  top: 50%;
  margin-top: -20px;
  width: inherit;
}
@media screen and (max-width: 767px) {
  .featured-services-right .bx-wrapper .bx-pager,
  .featured-services-right .bx-wrapper .bx-controls-auto,
  .b-testimonials .bx-wrapper .bx-pager,
  .b-testimonials .bx-wrapper .bx-controls-auto {
    right: -10%;
  }
}
.featured-services-right .bx-wrapper .bx-pager .bx-pager-item,
.featured-services-right .bx-wrapper .bx-controls-auto .bx-controls-auto-item,
.b-testimonials .bx-wrapper .bx-pager .bx-pager-item,
.b-testimonials .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: block;
  width: 22px;
  height: 12px;
  margin-bottom: 16px;
}
.featured-services-right .bx-wrapper .bx-pager .bx-pager-item:last-child,
.featured-services-right .bx-wrapper .bx-controls-auto .bx-controls-auto-item:last-child,
.b-testimonials .bx-wrapper .bx-pager .bx-pager-item:last-child,
.b-testimonials .bx-wrapper .bx-controls-auto .bx-controls-auto-item:last-child {
  margin-bottom: 0;
}
.featured-services-right .bx-wrapper .bx-pager.bx-default-pager a,
.b-testimonials .bx-wrapper .bx-pager.bx-default-pager a {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid;
  border-color: transparent;
  margin: 0 auto;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.featured-services-right .bx-wrapper .bx-pager.bx-default-pager a:hover,
.featured-services-right .bx-wrapper .bx-pager.bx-default-pager a.active,
.b-testimonials .bx-wrapper .bx-pager.bx-default-pager a:hover,
.b-testimonials .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: transparent;
  border-color: #fff;
  width: 12px;
  height: 12px;
}

/* testimonials bx*/
.b-testimonials .bx-wrapper .bx-pager,
.b-testimonials .bx-wrapper .bx-controls-auto {
  right: 2%;
  margin-top: -40px;
}
.b-testimonials .bx-wrapper .bx-pager .bx-pager-item,
.b-testimonials .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  margin-bottom: 14px;
}
.b-testimonials .bx-wrapper .bx-pager.bx-default-pager a {
  background: #cccccc;
}
.b-testimonials .bx-wrapper .bx-pager.bx-default-pager a:hover,
.b-testimonials .bx-wrapper .bx-pager.bx-default-pager a.active {
  border-color: #cccccc;
  background: transparent;
}

/* Loader */
#page-preloader {
  position: fixed;
  z-index: 100500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

#page-preloader .spinner {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
  border: 3px solid transparent;
  border-top-color: #222222;
  border-radius: 50% !important;
}

#page-preloader .spinner:before, #page-preloader .spinner:after {
  position: absolute;
  content: '';
  border-radius: 50%;
}

#page-preloader .spinner:before {
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  border: 3px solid transparent;
  border-top-color: #2d83b4;
}

#page-preloader .spinner:after {
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  border: 3px solid transparent;
  border-top-color: #ccc;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* CUSTOM CSS (ADD YOUR CSS HERE!) */
/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* sections */
.section-home-primary {
  padding: 120px 0 115px;
  position: relative;
  overflow: hidden;
}

.section-home-secondary {
  padding: 120px 0 115px;
  position: relative;
  overflow: hidden;
}

.section-typography {
  padding: 112px 0 140px;
  position: relative;
  overflow: hidden;
}

.section-contact-1 {
  padding: 115px 0  135px;
  position: relative;
  overflow: hidden;
}

.section-contact-2 {
  padding: 115px 0  115px;
  position: relative;
  overflow: hidden;
}

.section-works {
  padding: 110px 0  100px;
  position: relative;
  overflow: hidden;
}

.section-work-detail {
  padding: 113px 0  143px;
  position: relative;
  overflow: hidden;
}

.section-blog {
  padding: 120px 0  140px;
  position: relative;
  overflow: hidden;
}

.section-blog-post {
  padding: 115px 0  115px;
  position: relative;
  overflow: hidden;
}

.section-services {
  padding: 115px 0  119px;
  position: relative;
  overflow: hidden;
}

.section-about {
  padding: 115px 0 0;
  position: relative;
  overflow: hidden;
}

/* elements */
/*buttons*/
.btn {
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 12px;
  padding: 13px 48px;
  font-weight: bold;
  position: relative;
  border-radius: 0 !important;
  vertical-align: bottom;
  min-height: 36px;
}
.btn:focus {
  outline: none !important;
}
.btn.active {
  box-shadow: none;
}

.btn-sm {
  font-size: 11px;
  padding: 11px 42px;
}

.btn-lg {
  font-size: 13px;
  padding: 16px 58px;
}

.btn-primary, .btn-secondary, .btn-secondary-mod {
  color: #fff;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-primary:hover, .btn-secondary:hover, .btn-secondary-mod:hover {
  background: none;
  color: #222;
}
.btn-primary:active, .btn-secondary:active, .btn-secondary-mod:active, .btn-primary:focus, .btn-secondary:focus, .btn-secondary-mod:focus {
  box-shadow: none;
  outline: none;
}

.btn-default {
  border-color: #cccccc;
  background: transparent;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-default:hover {
  color: #fff;
}

.btn-secondary, .btn-secondary-mod {
  background: #222222;
}
.btn-secondary:hover, .btn-secondary-mod:hover {
  border-color: #222222;
}

.btn-secondary-mod {
  background: none;
  border-color: #cccccc;
  color: #222222;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-secondary-mod:hover {
  color: #fff;
  background: #222222;
}

.btn-primary-arrow, .btn-default-arrow {
  color: #fff;
  z-index: 1;
  padding: 12px 32px;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-primary-arrow i, .btn-default-arrow i {
  font-size: 19px;
  vertical-align: sub;
  padding-right: 3px;
  padding-left: 7px;
}
.btn-primary-arrow.btn-sm, .btn-sm.btn-default-arrow {
  padding: 10px 27px;
}
.btn-primary-arrow.btn-sm i, .btn-sm.btn-default-arrow i {
  font-size: 15px;
  padding-right: 5px;
  padding-left: 5px;
}
.btn-primary-arrow.btn-lg, .btn-lg.btn-default-arrow {
  padding: 13px 40px;
}
.btn-primary-arrow.btn-lg i, .btn-lg.btn-default-arrow i {
  font-size: 21px;
  padding-right: 5px;
  padding-left: 5px;
}

.btn-default-arrow {
  background: none;
  border-color: #cccccc;
}
.btn-default-arrow i {
  color: #666666;
}
.btn-default-arrow:hover {
  color: #fff;
}
.btn-default-arrow:hover i {
  color: #fff;
}

.btn-reply {
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.btn-reply:hover {
  opacity: .7;
}

.btn-clear {
  padding: 10px 0 !important;
  border: none;
  -moz-transition: margin .3s linear !important;
  -o-transition: margin .3s linear !important;
  -webkit-transition: margin .3s linear !important;
  -ms-transition: margin .3s linear !important;
  transition: margin .3s linear !important;
}
.btn-clear:hover {
  color: #666666 !important;
  background: transparent !important;
  margin-left: 15px;
}
.btn-clear:hover i {
  color: inherit;
}

/* sliders navigation*/
.slider-nav {
  padding-top: 15px;
  display: inline-block;
}

.slider-prev,
.slider-next {
  display: block;
  vertical-align: middle;
  width: 15px;
  height: 38px;
  color: #90908f;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  opacity: .7;
}
.slider-prev:hover,
.slider-next:hover {
  opacity: 1;
}

/* progress bars */
.progress {
  height: 22px;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: none;
  border: 1px solid #dddddd;
  border-radius: 0 !important;
  position: relative;
}
.progress .prog-title {
  display: inline-block;
  text-align: right;
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.progress .progress-bar {
  border: 1px solid transparent;
  box-shadow: none;
}
.progress.progress-color1 .progress-bar {
  background: #444444;
}
.progress.progress-mod.progress-color1 {
  border: 2px solid #444444;
}
.progress.progress-mod.progress-color1 .progress-bar {
  background: #444444;
  border: 2px solid transparent;
}
.progress.progress-mod.progress-color2 .progress-bar {
  border: 2px solid transparent;
}
.progress.mod-striped {
  background: #f6f6f6;
}
.progress.mod-striped.striped-color1 .progress-bar-warning {
  background-color: #222222;
}
.progress.mod-striped.striped-color2 .progress-bar-danger {
  background-color: #d54b35;
}
.progress.mod-striped.striped-color3 .progress-bar-info {
  background-color: #2d83b4;
}
.progress.mod-striped.striped-color4 .progress-bar-warning {
  background-color: #74bf30;
}
.progress.progress-label {
  border: none;
  border-top: 1px solid #dddddd;
}
.progress.progress-label .progress-bar {
  background: url("../images/progress-bg.png") repeat-x;
}
.progress.progress-label2 {
  border: none;
}
.progress.progress-label2 .progress-bar {
  background: url("../images/progress-bg.png") repeat-x;
}

/*Paginations style*/
.pag-btn {
  display: inline-block;
  padding-bottom: 18px;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.pag-btn i {
  font-size: 18px;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.pag-btn:hover {
  text-decoration: none;
}
.pag-btn:hover i {
  color: #222222;
}

.pag-prev i {
  margin-right: 30px;
}
.pag-prev:after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  left: 0;
  bottom: 0;
}

.pag-next i {
  margin-left: 30px;
}
.pag-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  right: 0;
  bottom: 0;
}

.b-current-pag p {
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: -8px;
}
.b-current-pag .pag-current {
  font-size: 20px;
  color: #222222;
  font-weight: bold;
}
.b-current-pag .pag-total {
  font-size: 16px;
  color: #666666;
}
.b-current-pag .pag-divider {
  font-size: 16px;
  color: #222222;
  padding: 0 5px;
}

.b-pagination-mod-2 {
  max-width: 615px;
  height: 128px;
  border: 6px solid #eeeeee;
  padding: 35px 10% 45px;
}

/*Accordion style*/
.b-accordion .accordion-block {
  margin-bottom: 18px;
}
.b-accordion .accordion-title-text {
  position: relative;
  overflow: hidden;
}
.b-accordion .accordion-toogle {
  display: block;
  float: left;
  margin-top: -4px;
  padding-right: 11px;
  border-right: 1px solid #afafaf;
  margin-right: 30px;
}
.b-accordion .accordion-toogle .ef {
  display: inline-block;
  font-weight: 300;
  color: #afafaf;
  font-size: 22px;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.b-accordion .ui-accordion-header {
  cursor: pointer;
  padding: 15px 10px 10px 15px;
  border: 4px solid #eeeeee;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #222222;
  letter-spacing: 1.3px;
}
.b-accordion .ui-accordion-header.ui-state-active {
  color: #fff;
}
.b-accordion .ui-accordion-header.ui-state-active .accordion-toogle .ef {
  color: #fff;
  transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
}
.b-accordion .ui-accordion-content {
  background: #f7f7f7;
  padding: 30px 65px 32px 27px;
}
.b-accordion .ui-accordion-content .accordion-img {
  width: 99px;
  height: 90px;
  background: #dddddd;
  float: left;
  margin-right: 25px;
  margin-left: 55px;
}
.b-accordion .ui-accordion-content p {
  font-size: 13px;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  color: #666666;
  line-height: 2;
  padding-top: 5px;
  margin: 0;
}

/* forms */
textarea {
  resize: none;
}

.form-control {
  border-radius: 0 !important;
}

.form-control::-webkit-input-placeholder {
  color: #666666;
  font-size: 13px;
  font-weight: 300;
}

.form-control::-moz-placeholder {
  color: #666666;
  font-size: 13px;
  font-weight: 300;
}

/* Firefox 19+ */
.form-control:-moz-placeholder {
  color: #666666;
  font-size: 13px;
  font-weight: 300;
}

/* Firefox 18- */
.form-control:-ms-input-placeholder {
  color: #666666;
  font-size: 13px;
  font-weight: 300;
}

.b-form, .b-form-mod, .b-form-footer, .b-f-s-info {
  border: 6px solid #eeeeee;
  padding: 42px 7.8% 18px;
  margin-bottom: 25px;
}
.b-form input, .b-form-mod input, .b-form-footer input, .b-f-s-info input,
.b-form textarea,
.b-form-mod textarea,
.b-form-footer textarea,
.b-f-s-info textarea {
  font-size: 13px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #eeeeee;
  box-shadow: none;
}
.b-form .form-group, .b-form-mod .form-group, .b-form-footer .form-group, .b-f-s-info .form-group {
  margin-bottom: 38px;
}
.b-form .b-form-description, .b-form-mod .b-form-description, .b-form-footer .b-form-description, .b-f-s-info .b-form-description {
  margin: 33px 0 27px;
}
.b-form .form-control, .b-form-mod .form-control, .b-form-footer .form-control, .b-f-s-info .form-control {
  height: 40px;
  padding: 5px 0 5px;
  margin-bottom: 20px;
}
.b-form .form-control:focus, .b-form-mod .form-control:focus, .b-form-footer .form-control:focus, .b-f-s-info .form-control:focus {
  box-shadow: none;
}
.b-form textarea.form-control, .b-form-mod textarea.form-control, .b-form-footer textarea.form-control, .b-f-s-info textarea.form-control {
  padding-top: 20px;
  padding-bottom: 25px;
  height: 153px;
  margin-bottom: 40px;
}

.b-form-mod {
  border: none;
  padding: 0;
}
.b-form-mod .form-control {
  height: 45px;
}

.b-form-footer.errorMsg {
	border-color: #f00;
}
.b-form-footer.successMsg {
	border-color: green;
}
.b-form-footer, .b-f-s-info {
  border: 6px solid #eee;
  height: 715px;
  padding: 66px 10% 18px;
  z-index: 2;
  position: relative;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.b-form-footer .footer-form-title, .b-f-s-info .footer-form-title, .b-f-s-info .f-s-title {
  color: #fff;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin-bottom: 33px;
  position: relative;
  display: inline-block;
}
.b-form-footer .footer-form-title:after, .b-f-s-info .footer-form-title:after, .b-f-s-info .f-s-title:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 11px;
  width: 15px;
  height: 1px;
  background: #fff;
  margin-right: -24px;
}
.b-form-footer .form-control, .b-f-s-info .form-control {
  color: #dddddd;
  background: transparent;
  border-color: #444444;
  height: 43px;
  margin-bottom: 26px;
  max-width: 415px;
}
.b-form-footer .form-control::-webkit-input-placeholder, .b-f-s-info .form-control::-webkit-input-placeholder {
  color: #dddddd;
}
.b-form-footer .form-control::-moz-placeholder, .b-f-s-info .form-control::-moz-placeholder {
  color: #dddddd;
}
.b-form-footer .form-control:-moz-placeholder, .b-f-s-info .form-control:-moz-placeholder {
  color: #dddddd;
}
.b-form-footer .form-control:-ms-input-placeholder, .b-f-s-info .form-control:-ms-input-placeholder {
  color: #dddddd;
}
.b-form-footer textarea.form-control, .b-f-s-info textarea.form-control {
  padding-top: 15px;
  height: 146px;
  margin-bottom: 107px;
}

/* checkbox/radio */
/* checkbox + radio */
.b-check-radio-holder .checkbox,
.b-check-radio-holder .radio {
  margin-bottom: 0;
}
.b-check-radio-holder .checkbox label {
  min-height: 16px;
  color: #666666;
}
.b-check-radio-holder .radio label {
  height: 20px;
  position: relative;
}
.b-check-radio-holder input[type="radio"].radio-style1 + span {
  display: none !important;
}
.b-check-radio-holder input[type=radio] {
  display: none !important;
}
.b-check-radio-holder .radio1 label:before,
.b-check-radio-holder .radio2 label:before,
.b-check-radio-holder .radio3 label:before {
  width: 18px;
  height: 18px;
}
.b-check-radio-holder label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
}
.b-check-radio-holder .radio label:before {
  border-radius: 100%;
}
.b-check-radio-holder input[type=radio]:checked + label:after {
  border-radius: 100%;
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -4px;
}
.b-check-radio-holder .radio1 label:before {
  border-color: transparent;
}
.b-check-radio-holder .radio1 input[type=radio]:checked + label:after {
  background-color: #fff;
}
.b-check-radio-holder .radio2 label:before {
  background: #fff;
}
.b-check-radio-holder .radio2 input[type=radio]:checked + label:after {
  background-color: #000;
}
.b-check-radio-holder input[type=checkbox] {
  display: none;
}
.b-check-radio-holder .checkbox label {
  padding-left: 32px;
}
.b-check-radio-holder .checkbox label:before {
  width: 22px;
  height: 22px;
}
.b-check-radio-holder input[type=checkbox]:checked + label:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  content: "\f00c";
  font-size: 12px;
  text-align: center;
  line-height: 19px;
  color: #fff;
  border-color: transparent;
}
.b-check-radio-holder .checkbox-2 input[type=checkbox]:checked + label:before {
  color: #fff;
  background: #222;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  content: "\f00c";
  font-size: 12px;
  text-align: center;
  line-height: 19px;
  border-color: transparent;
}
.b-check-radio-holder .checkbox + .checkbox, .b-check-radio-holder .radio {
  margin-right: 2px;
}
.b-check-radio-holder .checkbox + .checkbox, .b-check-radio-holder .radio + .radio {
  margin-top: 0;
  margin-right: 20px;
}
.b-check-radio-holder .checkbox {
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 20px;
}
.b-check-radio-holder .styled-radio,
.b-check-radio-holder .radio {
  display: inline-block;
}

/* tables */
.b-table {
  margin-bottom: 58px;
}

.table thead {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #222222;
}
.table thead tr td {
  padding: 0 25px 25px 35px;
  border-bottom: 4px solid #2c2e30;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: #222222;
  letter-spacing: 2px;
}
.table thead tr td:first-child {
  padding: 0 15px 25px 23px;
}
.table thead tr td:last-child {
  padding: 0 25px 25px 40px;
}
.table thead tr span {
  display: inline-block;
  position: relative;
  padding-top: 15px;
}
.table thead tr span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 1px;
}
.table tbody {
  font-size: 11px;
  color: #666666;
}
.table tbody tr td {
  padding: 15px 40px 18px 35px;
  line-height: 1.1;
  font-size: 13px;
  font-weight: 300;
  color: #666666;
}
.table tbody tr td:first-child {
  padding: 15px 30px 15px 23px;
}
.table tbody tr td:last-child {
  padding-left: 40px;
  padding-right: 0;
}
.table.table-striped tbody tr td {
  border-top: none;
}
.table.table-striped tbody tr:nth-of-type(2n+1) {
  background: #f9f9fa;
}
.table.table-mod thead tr td {
  padding-top: 25px;
  padding-bottom: 18px;
  background: #f9f9fa;
}
.table.striped-mod {
  border: 1px solid #eeeeee;
}
.table.striped-mod thead tr td {
  padding-top: 11px;
  padding-bottom: 21px;
  border-right: 1px solid #eeeeee !important;
}
.table.striped-mod thead tr td:last-child {
  border-right: none;
}
.table.striped-mod thead tr span:before {
  display: none;
}
.table.striped-mod tbody tr td {
  border-right: 1px solid #eeeeee;
}
.table.striped-mod tbody tr td:last-child {
  border-right: none;
}

.table-responsive {
  border: none;
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
/* header */
/* Header */
.header {
  left: 0;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 999;
}

.open-menu .header {
  height: 110px;
}

.logo {
  background-color: #222;
  color: #feffff;
  font-size: 24px;
  font-weight: 300;
  height: 80px;
  left: 0;
  padding: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 200px;
}

.fixed-menu .logo {
  left: 10px;
  top: 10px;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.navBtn {
  position: absolute;
  right: 0;
  top: 0;
}

.fixed-menu .navBtn {
  right: 10px;
  top: 10px;
}

.hamburger {
  background-color: #222;
  height: 80px;
  padding: 30px 25px;
  width: 80px;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger-box {
  height: 100%;
  width: 100%;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.hamburger-inner:before {
  top: -8px;
}

.hamburger-inner:after {
  bottom: -8px;
}

.menu-container {
  background-color: #222;
  height: 100px;
  left: 210px;
  padding: 0 2%;
  position: fixed;
  right: 90px;
  top: -120px;
  z-index: 999;
}

.fixed-menu .menu-container {
  left: 220px;
  right: 100px;
}

.open-menu .menu-container {
  top: 0;
}

.navbar-main > li > a {
  font-family: 'Raleway', sans-serif;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 600;
  padding: 40px 15px;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #222;
  border-top: 0 none;
  padding: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  opacity: 0;
  height: 0;
  display: block;
  border: none;
  overflow: hidden;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.navbar-nav > .open > .dropdown-menu {
  opacity: 1;
  height: auto;
}

.dropdown-menu > li > a {
  color: #fff;
  padding: 8px 15px;
  font-size: 16px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #222 !important;
}

.navbar-social > li > a {
  color: #666;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 40px 15px;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.navbar-social > li > a:focus,
.navbar-social > li > a:hover {
  color: #dddddd;
}

/* menu secondary version */
.menu-container.menu-version-2 {
  background-color: rgba(34, 34, 34, 0.99);
  left: auto;
  right: -100%;
  padding: 2.5% 5% 2.5%;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 50%;
  height: 100%;
  max-height: 1080px;
}

.open-menu .menu-version-2 {
  right: 0;
}

.menu-version-2 {
  overflow-y: scroll;
}
.menu-version-2 .navbar-nav {
  float: none;
}
.menu-version-2 .navbar-nav > li {
  float: none;
  display: block;
}
.menu-version-2 .menu-holder {
  margin-top: 3.5%;
  padding-right: 25%;
}
.menu-version-2 .navbar-main {
  margin-bottom: 15%;
}
.menu-version-2 .navbar-main > li {
  text-align: right !important;
  display: block !important;
  margin-bottom: 12%;
}
.menu-version-2 .navbar-main > li:last-child {
  margin-bottom: 0;
}
.menu-version-2 .navbar-main > li > a {
  display: inline-block;
  font-size: 24px;
  padding: 10px 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.menu-version-2 .navbar-social {
  margin-bottom: 5%;
}
.menu-version-2 .navbar-social li {
  float: left;
}
.menu-version-2 .navbar-social li a {
  padding: 10px 15px;
}
.menu-version-2 .dropdown-menu {
  text-align: right;
  width: 100%;
  position: relative;
}
.menu-version-2 .dropdown-menu li {
  display: block !important;
  margin: 25px 0;
}

.close-menu-nav {
  color: #eeeeee;
  cursor: pointer;
  right: 9.5%;
  top: 5.5%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.close-menu-nav:hover {
  opacity: .7;
}

.open-menu .close-menu-nav {
  position: fixed;
  z-index: 1001;
  opacity: 1;
  visibility: visible;
}

/* footer */
/* Footer */
.footerBlock {
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
}
.footerBlock .container-bg-additional {
  padding-top: 100px;
  height: 675px;
}

.copyright {
  bottom: 82px;
  color: #666;
  font-size: 13px;
  left: 0;
  position: absolute;
}

.footer-btm {
  background: #fff;
  height: 240px;
  width: 100%;
}

.b-footer-right-side {
  position: relative;
}

.b-footer-bg-filter {
  position: absolute;
  right: 0;
  top: 0;
  background: url("../media/filter-bg/1.png") center;
  background-size: cover;
  height: 500px;
  margin: -20px 0 0;
  width: 50%;
}

.b-footer-contacts {
  position: relative;
  z-index: 2;
  margin-left: 68px;
}
.b-footer-contacts .footer-contacts-item {
  margin-bottom: 43px;
}
.b-footer-contacts .footer-contacts-item .contacts-item-title {
  padding: 14px 0 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  position: relative;
  letter-spacing: 1px;
}
.b-footer-contacts .footer-contacts-item .contacts-item-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 1px;
  background: #fff;
}
.b-footer-contacts .footer-contacts-item p {
  color: #fff;
}

.b-footer-socials {
  position: relative;
  z-index: 2;
  padding-top: 130px;
}
.b-footer-socials .socials-title {
  display: block;
  font-size: 16px;
  padding-top: 12px;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.5px;
  position: relative;
  margin-right: 14%;
}
.b-footer-socials .socials-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 1px;
}
.b-footer-socials ul {
  margin: 0;
}
.b-footer-socials li {
  margin-right: 25px;
  margin-bottom: 5px;
  padding: 0;
}
.b-footer-socials li:last-child {
  margin-right: 0;
}
.b-footer-socials a {
  text-transform: uppercase;
  font-size: 12px;
  color: #666666;
  font-weight: 600;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.b-footer-socials a:hover {
  color: #dddddd;
  text-decoration: none;
}

/* pages */
.home-breadcrumbs-header .custom-filter {
  float: right;
}

.b-home-about {
  margin-bottom: 92px;
}
.b-home-about .b-mod-heading {
  margin-bottom: -2px;
  margin-top: 22px;
}
.b-home-about .b-blockquote-holder {
  margin-bottom: 12px;
}
.b-home-about .b-blockquote-left-border:before {
  display: none;
}
.b-home-about .b-blockquote-left-border .quote-text,
.b-home-about .b-blockquote-left-border .quote-author {
  margin-left: 0;
}
.b-home-about .b-blockquote-left-border .quote-text {
  line-height: 1.8;
  font-size: 16px;
  margin-bottom: 15px;
}
.b-home-about .b-cuts-img-holder {
  margin-left: 25px;
}
.b-home-about .b-cuts-img-holder .img-cut {
  margin-bottom: 25px;
}

.b-home-services {
  margin-bottom: 70px;
}
.b-home-services .container-fluid {
  padding: 0;
}
.b-home-services .b-services-holder > [class*='col-'] {
  padding: 0;
  height: 250px;
}
.b-home-services .b-services-holder > [class*='col-']:nth-child(even) {
  background-color: #f9f9fa !important;
}
.b-home-services .b-services-holder > [class*='col-']:nth-child(odd) {
  background-color: #f6f6f8;
}
.b-home-services .b-services-item {
  position: absolute;
  min-height: 160px;
  top: 50%;
  margin-top: -80px;
  margin-bottom: 0;
  padding: 5%;
}

.b-home-works {
  margin-bottom: 133px;
}

.b-home-offers .container-bg-additional {
  height: 750px;
}

@media screen and (min-width: 1200px) {
  .b-home-team .b-member-info {
    padding: 0 42px;
  }
}

.b-home-testimonials {
  margin-bottom: 101px;
}

.primary-home-news .b-blog-item {
  margin-bottom: 75px;
}

.secondary-home-news a {
  display: block;
}
.secondary-home-news a:hover {
  text-decoration: none;
}
.secondary-home-news .b-blog-item {
  margin-bottom: 25px;
  background: url("../media/home/home-news-bg.jpg") center;
  padding: 24px 27px 15px;
  position: relative;
}
.secondary-home-news .b-blog-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f6f6f8;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.secondary-home-news .b-blog-caption .caption-title, .secondary-home-news .comment-caption .caption-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  position: relative;
}
.secondary-home-news .b-blog-item:hover .b-blog-caption .caption-data, .secondary-home-news .b-blog-item:hover .comment-caption .caption-data, .comment-caption .secondary-home-news .b-blog-item:hover .b-blog-caption .comment-caption-data, .secondary-home-news .b-blog-item:hover .comment-caption .comment-caption-data {
  color: #fff;
}
.secondary-home-news .b-blog-item:hover .b-blog-caption .caption-data::after, .secondary-home-news .b-blog-item:hover .comment-caption .caption-data::after, .comment-caption .secondary-home-news .b-blog-item:hover .b-blog-caption .comment-caption-data::after, .secondary-home-news .b-blog-item:hover .comment-caption .comment-caption-data::after {
  background: #fff !important;
}
.secondary-home-news .b-blog-item:hover .b-blog-caption .caption-title, .secondary-home-news .b-blog-item:hover .comment-caption .caption-title {
  color: #fff;
}

/* home secondary */
.home-secondary-all .page-container {
  display: block;
  position: relative;
  overflow: hidden;
}

.section-home-secondary .b-home-about .b-mod-heading {
  margin-top: 0;
  margin-bottom: -15px;
}
.section-home-secondary .b-home-about .b-mod-heading .line-right {
  margin-bottom: 30px;
}
.section-home-secondary .b-home-about {
  margin-bottom: 37px;
}
.section-home-secondary .b-home-about .b-services-holder {
  padding: 15px 0 0;
}
.section-home-secondary .b-home-about .img-brd, .section-home-secondary .b-home-about .img-brd-mod, .section-home-secondary .b-home-about .img-brd-mod {
  margin-left: 65px;
}
.section-home-secondary .b-home-about .img-brd .img-cut .cut, .section-home-secondary .b-home-about .img-brd-mod .img-cut .cut, .section-home-secondary .b-home-about .img-brd-mod .img-cut .cut {
  width: 50px;
  height: 150px;
}

.b-services-item.b-services-item-mod .services-icon {
  width: 17.5%;
  margin-right: 12px;
  padding-top: 13px;
}
.b-services-item.b-services-item-mod .services-text {
  padding-top: 22px;
}
.b-services-item.b-services-item-mod p {
  margin-top: 8px;
  line-height: 2;
  position: relative;
  overflow: hidden;
}

.section-home-secondary .b-home-offers {
  margin-bottom: 120px;
}
.section-home-secondary .b-home-offers .container-bg-additional {
  height: 820px;
}
.section-home-secondary .b-home-offers .b-services-bg-filter {
  height: 100%;
}
.section-home-secondary .b-f-s-info {
  height: 288px;
  padding: 71px 6% 18px;
  margin-right: 0;
  margin-bottom: 85px;
}
.section-home-secondary .b-f-s-info .f-s-text {
  margin-left: 63px;
  margin-top: -16px;
}
.section-home-secondary .b-f-s-info p {
  max-width: 100%;
}

.featured-services-center .b-services-item {
  margin-bottom: 25px;
}
.featured-services-center .b-services-item .services-icon {
  float: none;
  display: block;
  text-align: center;
  margin-right: 0;
  margin-bottom: 20px;
}
.featured-services-center .b-services-item .services-text {
  text-align: center;
}
.featured-services-center .b-services-item .services-text .services-title {
  color: #fff;
}
.featured-services-center .b-services-item .services-text .services-title::before {
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
}
.featured-services-center .b-services-item .services-text p {
  color: #dddddd;
}

.section-home-secondary .tab-pane .tab-img .slide-counter {
  bottom: 30px;
  right: 115px;
}
.section-home-secondary .b-to-all-works {
  position: relative;
  left: 51px;
  margin-top: 75px;
}

.b-home-video-block .container-fluid {
  padding: 0;
}
.b-home-video-block .container-fluid > [class*='col-'] {
  padding: 0;
}
.b-home-video-block .left-side,
.b-home-video-block .right-side {
  height: 550px;
}
.b-home-video-block .left-side {
  background: url("../media/home/video-block-bg.jpg") center;
}
.b-home-video-block .right-side {
  background: #f6f6f8;
}
.b-home-video-block .right-side .content {
  height: 320px;
  padding: 0 15%;
  position: absolute;
  top: 50%;
  margin-top: -160px;
}
.b-home-video-block .right-side .content .b-mod-heading {
  position: relative;
}
.b-home-video-block .right-side .content .b-mod-heading .first-heading {
  padding-top: 27px;
  font-size: 24px;
}
.b-home-video-block .right-side .content .b-mod-heading .first-heading:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 1px;
}
.b-home-video-block .right-side .content .b-mod-heading .line-right {
  margin-bottom: 10px;
}
.b-home-video-block .right-side .content .b-text {
  margin-bottom: 30px;
}
.b-home-video-block .b-video-holder {
  text-align: center;
  width: 100%;
  height: 96px;
  position: absolute;
  top: 50%;
  margin-top: -48px;
  left: 0;
  right: 0;
}
.b-home-video-block .b-video-holder a {
  display: inline-block;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.b-home-video-block .b-video-holder a:hover {
  opacity: .7;
  text-decoration: none;
}
.b-home-video-block .b-video-holder i {
  font-size: 52px;
}
.b-home-video-block .b-video-holder .video-title {
  display: block;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
}

.section-home-secondary .b-home-team .b-member-info-slide-holder {
  margin-top: 50px;
}
.section-home-secondary .b-home-team .b-member-info {
  padding: 0 0;
}
.section-home-secondary .b-home-team .b-member-info .b-mod-heading {
  margin: 0;
}
.section-home-secondary .b-home-team .b-team {
  padding: 120px 0 22px;
}

.section-home-secondary .primary-home-news a {
  display: block;
}
.section-home-secondary .primary-home-news a:hover {
  text-decoration: none;
}
.section-home-secondary .primary-home-news a:hover .caption-title {
  text-decoration: underline;
}
.section-home-secondary .primary-home-news .caption-title {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.section-home-secondary .primary-home-news .caption-preview-text {
  color: #222222;
  margin-bottom: 0;
}
.section-home-secondary .primary-home-news .b-blog-item {
  margin-bottom: 45px;
}
.section-home-secondary .primary-news-1 .b-blog-img {
  margin-bottom: 18px;
}
.section-home-secondary .primary-news-2 .b-blog-item .b-blog-caption, .section-home-secondary .primary-news-2 .b-blog-item .comment-caption {
  margin-left: 15px;
  margin-top: 6px;
  margin-bottom: 44px;
}
.section-home-secondary .secondary-home-news {
  margin-top: 20px;
}

.b-map {
  height: 655px;
}

.b-map-small-holder {
  margin-bottom: 25px;
}

.b-map-small {
  height: 550px;
}

.section-contact-1 .b-mod-heading {
  margin-bottom: 93px;
}

.section-contact-2 .b-mod-heading {
  margin-bottom: 74px;
}

.b-contact-info, .b-work-info,
.b-member-caption, .b-post-tags {
  margin-bottom: 78px;
}
.b-contact-info .contact-info-title, .b-work-info .contact-info-title,
.b-member-caption .contact-info-title, .b-post-tags .contact-info-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666666;
  font-weight: 600;
  position: relative;
  padding-top: 12px;
  margin-bottom: 13px;
}
.b-contact-info .contact-info-title:before, .b-work-info .contact-info-title:before,
.b-member-caption .contact-info-title:before, .b-post-tags .contact-info-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 1px;
}
.b-contact-info .contact-info-title span, .b-work-info .contact-info-title span,
.b-member-caption .contact-info-title span, .b-post-tags .contact-info-title span {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
.b-contact-info ul li, .b-work-info ul li,
.b-member-caption ul li, .b-post-tags ul li {
  color: #666666;
  margin-bottom: 15px;
}
.b-contact-info ul span, .b-work-info ul span,
.b-member-caption ul span, .b-post-tags ul span {
  display: inline-block;
  min-width: 88px;
  margin-right: 5px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #222222;
}

.b-items-sort {
  margin: 0 0 67px;
}
.b-items-sort li {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  position: relative;
  padding: 10px 0 0;
  cursor: pointer;
  margin: 0 8px;
  letter-spacing: 1px;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.b-items-sort li:before {
  content: '';
  display: block;
  width: 15px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
}

.b-works-holder {
  font-size: 0;
}

.works-item {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 40px;
}
.works-item a {
  display: block;
}

/* work details */
.section-work-detail .b-text p {
  padding: 5px 0;
}

.work-left-side {
  margin-bottom: 25px;
}

.work-left-side .content {
  margin-left: 22px;
}

.b-work-info-holder {
  margin-top: 55px;
}

.b-work-info,
.b-member-caption {
  margin-bottom: 58px;
}
.b-work-info .contact-info-title,
.b-member-caption .contact-info-title {
  margin-bottom: 2px;
  color: #222222;
  font-weight: bold;
}
.b-work-info ul li,
.b-member-caption ul li {
  margin-bottom: 7px;
}
.b-work-info ul span,
.b-member-caption ul span {
  font-size: 13px;
  text-transform: none;
  color: #666666;
  min-width: auto;
  margin-right: 0;
}
.b-work-info .work-share li,
.b-member-caption .work-share li {
  margin-bottom: 10px;
}
.b-work-info .work-share a,
.b-member-caption .work-share a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #666666;
  letter-spacing: 1px;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.b-work-info .work-share a:hover,
.b-member-caption .work-share a:hover {
  text-decoration: none;
}

.work-right-side {
  margin-bottom: 85px;
}
.work-right-side .content {
  margin-left: 56px;
  margin-top: 5px;
}

.img-brd-holder {
  padding-right: 5%;
  padding-bottom: 5%;
}

.img-brd, .img-brd-mod {
  display: inline-block;
  position: relative;
}
.img-brd .brd, .img-brd-mod .brd {
  position: absolute;
  top: 22px;
  left: 20px;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  border: 5px solid #f6f6f6;
  background: transparent;
}
.img-brd img, .img-brd-mod img {
  position: relative;
  z-index: 2;
}

.img-brd-mod .brd {
  left: -20px;
}
.img-brd-mod .img-cut .cut {
  right: 0;
  left: 0;
  z-index: 3;
}

.work-img-big {
  margin-bottom: 77px;
}

.work-img-small {
  margin-bottom: 35px;
}

.img-cut {
  display: inline-block;
  position: relative;
}
.img-cut .cut {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: #fff;
  width: 30px;
  height: 100px;
}
.img-cut.cut-right-top .cut {
  top: 0;
  bottom: auto;
}
.img-cut.cut-left-bottom .cut {
  left: 0;
  right: auto;
}

.b-blog-item {
  margin-bottom: 95px;
  position: relative;
}
.b-blog-item .b-blog-caption, .b-blog-item .comment-caption {
  margin-left: 15px;
  margin-top: 15px;
}

.b-blog-data {
  position: absolute;
  height: 75px;
  top: 50%;
  margin-top: -37.5px;
  left: -30%;
  width: 305px;
}
@media screen and (min-width: 1200px) and (max-width: 1444px) {
  .b-blog-data {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    left: -17%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .b-blog-data {
    transform: none;
    top: auto;
    bottom: -45px;
    margin-top: 0;
    left: -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .b-blog-data {
    transform: none;
    top: auto;
    bottom: 20px;
    margin-top: 0;
    left: -15px;
  }
}
.b-blog-data span {
  display: block;
}
.b-blog-data .blog-data-category {
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 600;
  color: #cccccc;
}
.b-blog-data .blog-data-date {
  font-size: 36px;
  font-weight: bold;
  color: #222222;
  letter-spacing: 1px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  position: relative;
}

.b-blog-caption .caption-data, .comment-caption .caption-data, .comment-caption .comment-caption-data {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  position: relative;
  padding-bottom: 17px;
  margin-bottom: 15px;
}
.b-blog-caption .caption-data span, .comment-caption .caption-data span, .comment-caption .comment-caption-data span {
  letter-spacing: .5px;
  padding-right: 15px;
}
.b-blog-caption .caption-data:after, .comment-caption .caption-data:after, .comment-caption .comment-caption-data:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15px;
  height: 1px;
}
.b-blog-caption .caption-title, .comment-caption .caption-title {
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 20px;
}
.b-blog-caption .caption-preview-text, .comment-caption .caption-preview-text {
  line-height: 2;
  margin-bottom: 40px;
}
.b-blog-caption .btn, .comment-caption .btn {
  padding: 10px 0;
  border: none;
  -moz-transition: margin 0.3s linear;
  -o-transition: margin 0.3s linear;
  -webkit-transition: margin 0.3s linear;
  -ms-transition: margin 0.3s linear;
  transition: margin 0.3s linear;
}
.b-blog-caption .btn:hover, .comment-caption .btn:hover {
  background: transparent;
  color: #222222;
  margin-left: 15px;
}
.b-blog-caption .btn:hover i, .comment-caption .btn:hover i {
  color: #222222;
}

.section-blog .b-pagination-mod-1 {
  margin-top: 43px;
}

/* blog post */
.b-blog-post {
  padding-left: 70px;
  position: relative;
}
.b-blog-post .b-blog-data {
  top: 250px;
  margin-top: 0;
}
@media screen and (min-width: 1444px) {
  .b-blog-post .b-blog-data {
    top: 135px;
  }
}
.b-blog-post .b-text p {
  padding: 10px 0;
}

.b-blog-post-img {
  margin-top: 18px;
  margin-bottom: 35px;
}
.b-blog-post-img .cut {
  width: 128px;
  height: 60px;
}

.post-mid-content-1 {
  padding-top: 20px;
}
.post-mid-content-1 .content-side {
  width: 35%;
  margin-bottom: 25px;
}
.post-mid-content-1 .content-side p {
  margin-bottom: 5px;
}
.post-mid-content-1 .img-brd, .post-mid-content-1 .img-brd-mod {
  margin-right: 85px;
  margin-top: 12px;
  margin-bottom: 108px;
}

.section-blog-post .b-blockquote-holder {
  margin-bottom: 92px;
}
.section-blog-post .b-mod-heading {
  margin-bottom: -12px;
}

.post-mid-content-2 {
  margin-bottom: 72px;
}
.post-mid-content-2 .content-side {
  width: 55%;
  margin-bottom: 25px;
}
.post-mid-content-2 .content-side p {
  margin-bottom: 5px;
}
.post-mid-content-2 .img-brd, .post-mid-content-2 .img-brd-mod {
  margin-right: 60px;
  margin-top: 12px;
  margin-bottom: 25px;
}

.b-post-tags a {
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.b-post-tags ul {
  margin: 0;
}
.b-post-tags li {
  padding-right: 0;
  padding-left: 0;
}
.b-post-tags .tags-list li {
  padding-right: 2px;
}
.b-post-tags .tags-list a {
  font-size: 12px;
  font-weight: bold;
  color: #666666;
}
.b-post-tags .contact-info-title {
  font-size: 16px;
  letter-spacing: 1px;
  color: #222222;
  padding-right: 10px !important;
}
.b-post-tags .post-share {
  margin-right: 66px;
  margin-top: 17px;
}
.b-post-tags .post-share li {
  margin-left: 20px;
}
.b-post-tags .post-share li:first-child {
  margin: 0;
}
.b-post-tags .post-share a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  color: #666666;
  font-weight: 600px;
}

.b-pagination-holder {
  margin-bottom: 100px;
}

.b-post-comments .heading-line,
.b-post-reply .heading-line {
  font-size: 24px;
  margin-bottom: 55px;
}

.b-post-comments {
  margin-bottom: 82px;
}

.b-comment-item {
  margin-bottom: 25px;
}

.comment-userpic {
  float: left;
  margin-right: 25px;
}

.comment-caption {
  position: relative;
  overflow: hidden;
  padding-right: 58px;
}
.comment-caption .comment-caption-data span {
  display: block;
}
.comment-caption .comment-caption-data .author {
  font-size: 14px;
  color: #222222;
  padding-bottom: 7px;
}
.comment-caption .comment-text p {
  color: #666666;
  line-height: 2;
}
.comment-caption .btn-reply {
  float: right;
  margin-top: 27px;
}

.b-sub-comment {
  padding-left: 9.5%;
  padding-top: 45px;
}

.b-post-reply .b-form, .b-post-reply .b-form-mod, .b-post-reply .b-form-footer, .b-post-reply .b-f-s-info {
  max-width: 1005px;
}

.section-services .b-mod-heading {
  margin-bottom: 90px;
}
.section-services .container-bg-additional {
  height: 750px;
  margin-bottom: 120px;
}

.b-services-bg-filter {
  position: absolute;
  left: 0;
  top: 0;
  background: url("../media/filter-bg/atenciofondo.jpg") center;
  background-size: cover;
  height: 750px;
  margin: 0 0 0;
  width: 50%;
}

.b-services-holder {
  margin-bottom: 51px;
}

.b-services-item {
  margin-bottom: 53px;
}
.b-services-item .services-icon {
  float: left;
  margin-right: 25px;
  padding-top: 5px;
}
.b-services-item .services-text {
  position: relative;
  overflow: hidden;
}
.b-services-item .services-text .services-title {
  position: relative;
  padding: 15px 0 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.b-services-item .services-text .services-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 1px;
}
.b-services-item .services-text p {
  line-height: 2;
}

.b-featured-services {
  padding-top: 120px;
}

.b-f-s-info {
  height: 510px;
  padding-top: 75px;
  margin-right: 20px;
}
.b-f-s-info .f-s-title {
  line-height: 47px;
  margin-bottom: 44px;
}
.b-f-s-info p {
  color: #fff;
  line-height: 2;
  max-width: 75%;
  margin-bottom: 32px;
}
.b-f-s-info .btn {
  color: #fff;
  padding: 10px 0;
  /*border: none;*/
  -moz-transition: margin 0.3s linear;
  -o-transition: margin 0.3s linear;
  -webkit-transition: margin 0.3s linear;
  -ms-transition: margin 0.3s linear;
  transition: margin 0.3s linear;
}
.b-f-s-info .btn i {
  color: inherit;
}
.b-f-s-info .btn:hover {
  background: transparent;
  margin-left: 15px;
}
.b-f-s-info .btn:hover i {
  color: #666666;
}

.featured-services-right {
  margin-left: 64px;
  margin-top: 40px;
}

.b-services-slide .b-services-item .services-text .services-title,
.b-work-steps .b-services-item .services-text .services-title {
  color: #fff;
}
.b-services-slide .b-services-item .services-text p,
.b-work-steps .b-services-item .services-text p {
  color: #dddddd;
}

.b-brands-holder {
  position: relative;
  margin-bottom: 120px;
}
.b-brands-holder .container-fluid {
  padding: 0;
}
.b-brands-holder .col-sm-6 {
  padding: 0;
}

.b-brands-left,
.b-brands-right {
  height: 240px;
  padding: 90px 0;
  position: relative;
}

.b-brands-left {
  background-color: #f6f6f8;
}

.brand-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8.5%;
}

/* tabs */
.b-tabs-holder {
  margin-bottom: 115px;
}

.b-tabs {
  position: relative;
}
.b-tabs .b-tabs-controls {
  position: absolute;
  left: -14.5%;
  top: 207px;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.b-tabs ul.nav-tabs {
  border: none;
}
.b-tabs .nav-tabs > li > a {
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #666666;
  font-weight: bold;
  position: relative;
  padding: 0 10px 0;
  letter-spacing: 1px;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.b-tabs .nav-tabs > li.active > a,
.b-tabs .nav-tabs > li.active > a:focus,
.b-tabs .nav-tabs > li.active > a:hover {
  background: transparent;
  border: none;
}

.tab-custom {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  height: 0;
}

.tab-custom.active {
  visibility: visible;
  position: relative;
  opacity: 1;
  height: auto;
}

.tab-custom .tab-img,
.tab-pane .tab-img {
  position: relative;
}
.tab-custom .tab-img .bx-wrapper,
.tab-pane .tab-img .bx-wrapper {
  margin-bottom: 0;
}
.tab-custom .tab-img .bx-wrapper .bx-viewport,
.tab-pane .tab-img .bx-wrapper .bx-viewport {
  left: -55px;
}
.tab-custom .tab-img .slide-counter,
.tab-pane .tab-img .slide-counter {
  width: 150px;
  height: 50px;
  background: #fff;
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 80px;
  padding-top: 20px;
}
.tab-custom .tab-img .slide-counter .current-index,
.tab-pane .tab-img .slide-counter .current-index {
  font-size: 20px;
  color: #222222;
}
.tab-custom .tab-img .slide-counter.mod-counter,
.tab-pane .tab-img .slide-counter.mod-counter {
  right: 17.5%;
  bottom: 6.5%;
}
.tab-custom .tab-caption,
.tab-pane .tab-caption {
  margin-left: -56px;
  padding-top: 48px;
  position: relative;
  overflow: hidden;
  max-width: 455px;
}
.tab-custom .tab-caption .b-mod-heading,
.tab-pane .tab-caption .b-mod-heading {
  margin-bottom: 5px;
}
.tab-custom .tab-caption .tab-caption-text,
.tab-pane .tab-caption .tab-caption-text {
  line-height: 2;
  margin-bottom: 40px;
}
.tab-custom .b-tab-additional,
.tab-pane .b-tab-additional {
  margin-top: 82px;
}
.tab-custom .b-tab-additional .bx-wrapper .bx-viewport,
.tab-pane .b-tab-additional .bx-wrapper .bx-viewport {
  left: -45px;
}
.tab-custom .b-tab-additional a,
.tab-pane .b-tab-additional a {
  display: inline-block;
  position: relative;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.tab-custom .b-tab-additional a:hover,
.tab-pane .b-tab-additional a:hover {
  opacity: .7;
}
.tab-custom .b-tab-additional a:before,
.tab-pane .b-tab-additional a:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.section-about .img-brd-mod {
  margin-left: 21px;
  margin-top: 25px;
}
.section-about .b-services-holder {
  margin-top: 44px;
  margin-bottom: 55px;
}
.section-about .featured-services-right {
  margin-left: 67px;
  margin-top: 7px;
}
.section-about .b-featured-services {
  height: 705px;
}
.section-about .b-services-bg-filter {
  height: 705px;
}
.section-about .b-f-s-info {
  height: auto;
}

.b-team {
  padding: 120px 0 90px;
}

.b-about-facts .container-fluid {
  padding: 0;
}
.b-about-facts .container-fluid .col-sm-3 {
  padding: 0;
}
.b-about-facts .container-fluid .col-sm-3:nth-child(even) {
  background-color: #f9f9fa !important;
}
.b-about-facts .container-fluid .col-sm-3:nth-child(odd) {
  background-color: #f6f6f8;
}
.b-about-facts .about-facts-item {
  padding: 34px 6%;
  height: 220px;
}

.facts-content {
  border: 5px solid #fff;
  padding: 27px 8%;
}
.facts-content .facts-icon {
  float: left;
  margin-right: 7px;
}
.facts-content .facts-icon i {
  font-size: 52px;
}
.facts-content .facts-caption {
  position: relative;
  overflow: hidden;
}
.facts-content .facts-caption p {
  margin: 0;
}
.facts-content .facts-caption p:first-child {
  font-size: 30px;
  padding-bottom: 6px;
  font-weight: bold;
}
.facts-content .facts-caption p:last-child {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  position: relative;
}
.facts-content .facts-caption p:last-child:after {
  content: '';
  display: block;
  width: 15px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.b-work-steps .b-services-item {
  margin-bottom: 25px;
}
.b-work-steps .b-services-item .services-text p {
  margin-top: -10px;
}
.b-work-steps .b-services-item .services-icon {
  position: relative;
  padding: 0;
}
.b-work-steps .b-services-item .services-icon:after {
  content: '';
  display: block;
  width: 1px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -0.5px;
  margin-top: 23px;
  border-left: 1px dotted #7a7a7a;
}
.b-work-steps .b-services-item .services-icon .circle-0 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eeeeee;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.b-work-steps .b-services-item .services-icon .circle-1 {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: #a1c3d7;
  border-radius: 50%;
  position: relative;
  top: 4px;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.b-work-steps .b-services-item .services-icon .circle-2 {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  background: #2d83b4;
  border-radius: 50%;
  position: relative;
  top: 3px;
}
.b-work-steps .b-services-item .services-icon.work-active .circle-0, .b-work-steps .b-services-item:hover .circle-0 {
  background: #404040;
}
.b-work-steps .b-services-item .services-icon.work-active .circle-1, .b-work-steps .b-services-item:hover .circle-1 {
  background: #385b6e;
}
.b-work-steps .b-services-item:last-child .services-icon:after {
  display: none;
}

.b-testimonials .container-fluid {
  padding: 0;
}
.b-testimonials .left-side {
  background-color: #f6f6f8;
}
.b-testimonials .right-side {
  background-color: #f9f9fa;
}
.b-testimonials .left-side,
.b-testimonials .right-side {
  height: 270px;
  padding: 98px 0;
}
.b-testimonials .b-services-item {
  float: right;
  max-width: 330px;
  margin-bottom: 0;
  margin-right: 16%;
}
.b-testimonials .b-services-item .services-icon {
  padding-top: 0;
  margin-top: -3px;
}
.b-testimonials .bx-wrapper {
  margin-bottom: 0;
}

.b-member-info .b-mod-heading {
  margin-top: 24px;
  margin-bottom: 58px;
}
.b-member-info .member-name {
  margin-bottom: 17px;
}
.b-member-info .member-socials a {
  color: #666666;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.b-member-info .b-member-caption {
  margin-bottom: 45px;
}
.b-member-info .b-member-caption .contact-info-title {
  padding-bottom: 14px;
}
.b-member-info .b-member-caption p {
  line-height: 2;
}
.b-member-info .b-member-progress {
  margin-top: 13px;
}
.b-member-info .b-member-progress .progress {
  height: 13px;
  margin-bottom: 16px;
}
.b-member-info .b-member-progress .progress .bar-holder {
  height: inherit;
  width: 72%;
}
.b-member-info .b-member-progress .progress .prog-title {
  text-align: left;
  bottom: -3px;
  min-width: 110px;
  background: #fff;
  padding-left: 10px;
}

.b-member-list .member-img {
  position: relative;
  margin-bottom: 24px;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.b-member-list .member-img:hover {
  opacity: .7;
}
.b-member-list .member-img:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.b-member-list .member-img:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100px;
  height: 20px;
  background: transparent;
  z-index: 2;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.b-member-list .member-list-item a.active .member-img:after {
  background: #fff;
}

.testimonials-holder {
  position: relative;
}

.testimonials-item {
  width: 50%;
  padding: 0 6%;
}
.testimonials-item .testimonials-caption {
  background: none !important;
  padding: 0;
}
.testimonials-item .testimonials-caption .quote-userpic {
  margin-top: 0;
}
.testimonials-item .testimonials-caption .quote-text {
  font-size: 16px;
  color: #222222;
}
.testimonials-item .testimonials-caption .quote-author .ef {
  color: #cccccc;
}
.testimonials-item .testimonials-caption .quote-author .author-name {
  color: #222222;
}
.header-background-color {
	background: #2d83b4;
}
.top-padding-120{
	padding-top: 120px;
}
.header-3h{
	min-height: 165px;
}
.workImg{
	overflow: hidden;
}
.imageWork1{
	width: 457px;
	height: 350px;
}
.imageWork2{
	width: 262px;
	height: 350px;
}
.imageWork3{
	width: 360px;
	height: 350px;
}

.filter li {
    display: inline-block;
    width: 19%;
}