<div class="isotope-item portfolio-item {{=it.social_network}} ssocial-blog-classic-item ssocial-isotop-item image-post-type svc-social-item svc_twitter vcfti-col-sm-4 vcfti-col-xs-12 vcfti-col-md-3 social-feed-element social_animated vc_social_tm4 ssocial-formate-twitter slideInUp full-visible">
	<div class="svc_margin_container">
		<div class="svc_share ssocial-share ssocial-share-s3">  
			<i class="fa fa-share-alt"></i> 
			<div class="svc_share-box full-color"> 
				<ul class="s8-social" style="padding-left: 1em; text-indent: -1em;"> 
					<li class="facebook"> 
						<a href="https://www.facebook.com/sharer/sharer.php?u={{=it.link}}" target="_blank" title=""> 
							<i class="fa fa-facebook"></i> 
						</a> 
					</li> 
					<li class="google"> 
						<a href="https://plusone.google.com/share?url={{=it.link}}" target="_blank" title=""> 
							<i class="fa fa-google-plus"></i> 
						</a> 
					</li> 
					<li class="twitter"> 
						<a href="https://twitter.com/intent/tweet?url={{=it.link}}" target="_blank" title=""> 
							<i class="fa fa-twitter"></i> 
						</a> 
					</li> 
				</ul>
			</div> 
		</div> 
	
		<div class="ssocial-instagram-wrapper ssocial-{{=it.social_network}}-skin-s1">  
			<div class="featured-image"> 
				<a href="{{=it.image}}" class="svc_big_img thumb-overlay" data-rel="lightcase:gallery1">
					{{=it.attachment}}
				</a>
			</div>  
			<div class="ssocial-instagram-title">     
				<span>
					{{=it.text}} 
					<a href="{{=it.link}}" target="_blank" class="read-button">
						<i class="fa fa-external-link"></i>
					</a>
				</span>    
				<a href="{{=it.link}}" target="_blank" class="svc-author-title">
					<img class="social_author_media" src="{{=it.author_picture}}"> 
					{{=it.author_name}}
				</a> 
				<div class="social_insta_date">{{=it.time_ago}}</div> 
			</div> 
			<div class="ssocial_formate_icon">   
				<i class="fa fa-{{=it.social_network}}"></i>  
			</div>
		</div>
	</div>
</div>